.k-container {
  max-width: 825px;
  margin: 0 auto;
}

.k-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

h1 {
  font-size: 3rem;
}

.tvl-header {
  display: flex;
  max-width: 400px;
}

.tvl-header > * {
  flex: 50%;
  margin: 5px;
}

#kingdoms {

}

.k-content {
  margin-left: 1rem;
  margin-right: 1rem;
}

.flex-grid {
  display: flex;
  align-items: center;
}

.col {
  flex: 1;
}

.col > * {
  line-height: 1.5;
}

#content-header .col > * {
  line-height: 1;
}

.k-grid > .col:nth-of-type(1) {
  flex: 12;
}
.k-grid > .col:nth-of-type(2) {
  flex: 4;
  text-align: right;
}
.k-grid > .col:nth-of-type(3) {
  flex: 4;
  text-align: right;
}
.k-grid > .col:nth-of-type(4) {
  flex: 1;

}
.k-grid > .col:nth-of-type(4) > * {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

#content-header .flex-grid {
  align-items: flex-end;
  opacity: 0.5;
  font-size: 0.95rem;
}

#content-header .col > * {
  padding: 2px;
}

.token {
  font-size: 1.2rem;
}
