.k-card .flex-grid {
  align-items: flex-start;
}

.k-card .col > * {
  /* display: flex; */
  /* padding: 4px 0; */
}

.k-card .col:nth-of-type(1) {
  flex: 5;
  text-align: left;
  margin-right: 1rem;
}
.k-card .col:nth-of-type(2) {
  flex: 5;
  text-align: left;
  margin-right: 1rem;
}
.k-card .col:nth-of-type(3) {
  flex: 2;
  text-align: left;
}
